.inscription-card-title {
  text-align: center;
  font-size: 2rem;
  margin: 5% 0 0 0;
  color: #f47521;
}

.inscription-card-title h2 {
  text-align: center;
  font-size: 2rem;
  margin: 5% 0 0 0;
  color: #f47521;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
}

.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50%;
  height: 600px;
  margin: 2% auto;
}

.signUp h2 {
  text-align: center;
}

.inscription-card {
  width: 60%;
  height: 400px;
  margin-right: 10%;
}

.inscription-card-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inscription-card-img img {
  width: 60%;
  height: 50%;
  object-fit: cover;
}

.inscription-card input {
  width: 80%;
  padding: 1em 2em;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  background-color: #F2F2F2;
}

.inscription-card button {
  width: 50%;
  padding: 1em 2em;
  margin-top: 4%;
  margin-bottom: 60px;
  border-radius: 2px;
  border: none;
  background-color: #f47521;
  color : black;
}

.inscription-card button:hover {
  box-shadow: 0 2px 35px #f47521;
  cursor: pointer;
  color: white;
}

.connexion-link {
  margin-top: -12%;
}

.erreur {
  color: #ff0000;
  margin-top: -10px;
  margin-bottom: 10px;
}

.signUp a {
  color: black;
}

.signUp a:hover {
  color: #F3B632;
}

@media (max-width: 600px) {
  .signUp {
    margin-top: 5%;
    width: 80%;
    height: 100%;
  }
  .inscription-card {
    width: 100%;
    padding: 10%;
  }
  .inscription-card-title h2 {
    margin-top: 10%;
    font-size: 1.5rem;
  }
  .inscription-card-img img {
    display: none;
  }
  .inscription-card button {
    width: 60%;
    height: 10%;
    font-size: 0.6rem;
    margin : 5% 0 10% 0;
  }
}

@media only screen and (min-width :601px) and ( max-width: 1200px ) {
  .signUp {
    margin-top: 5%;
    width: 60%;
    height: 100%;
  }
  .inscription-card {
    width: 100%;
    padding: 10%;
  }
  .inscription-card h2 {
    margin-top: 10%;
    font-size: 1.5rem;
  }
  .inscription-card-img img {
    display: none;
  }
  .inscription-card button {
    width: 60%;
    height: 10%;
    font-size: 0.6rem;
    margin : 5% 0 10% 0;
  }
}