.signUp h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; 
}

.erreur {
  color: #ff0000;
  margin-top: -10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  div {
    max-width: 100%;
    padding: 10px;
  }

  input,
  button {
    width: 100%;
  }
}
