div {
  margin: 10px auto;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#form {
  background: red;
  margin: 0 auto;
 
}

.form_signup {
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 50%;
}

@media (max-width: 768px) {
  input {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  input {
    width: 50%;
  }
}

.erreur {
  color: red;
}

.submit:hover{
  background: blue;
}

