.create-post-title-container {
  text-align: center;
  font-size: 2rem;
  margin: 5% 0 0 0;
}

.create-post-title-container h2 {
  text-align: center;
  font-size: 2rem;
  margin: 5% 0 0 0;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
}

textarea{
  color:black !important;
  resize: none !important;
}

.create-post {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50%;
  margin: 2% auto;
}

form {
  display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  border: none;
  background-color: #F2F2F2;
  margin-top: 2%;
}

.createpost-title {
  width: 100%;
  margin-bottom: 3%;
}

.createpost-title input {
  width: 50%;
  height: 30px;
  margin-top: 2%;
  border: none;
  background-color: #F2F2F2;
}

.createpost-description{
  width: 100%;
}


.create-post-button {
  display: block;
  margin: 10px 0;
  width:300px;
  padding:20px;
  font-size: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-all-post{
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.error-message{
  color: red;
}

@media (max-width: 600px) {
  .create-post-container {
    margin-top: 5%;
    width: 100%;
    height: 100%;
  }
  .create-post-title-container{
    text-align: center;
    font-size: 2rem;
    margin: 10% 0 10% 0;
  }
  .create-post {
    width: 70%;
    padding: 10%;
  }
  .createpost-title {
    margin-top: 10%;
    font-size: 1.5rem;
  }
  .create-post-button {
    width: 60%;
    height: 10%;
    font-size: 0.6rem;
    margin : 5% 0 10% 0;
  }
}

@media only screen and (min-width :601px) and ( max-width: 1200px ) {

  .create-post-container{
    margin-top: 5%;
    width: 100%;
    height: 100%;
  }
  .create-post-title-container{
    text-align: center;
    font-size: 2rem;
    margin: 10% 0 10% 0;
  }

  .create-post {
    width: 70%;
    padding: 10%;
  }
  .createpost-title {
    margin-top: 10%;
    font-size: 1.5rem;
  }
  .create-post-button {
    width: 60%;
    height: 10%;
    font-size: 0.6rem;
    margin: 5% 0 10% 0;
  }
}