.posts-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #060202;
  width: 60%;
  margin: 0 10% 0 20%;
  padding: 2%;
}

.posts{
  display: flex;
  flex-direction: row;
}

.posts img{
  width: 50%;
  height: 0%;
}

.posts-container-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #060202;
  width: 64%;
  margin: 0 10% 0 20%;
}

.posts-container-title h2 {
  margin-left: 3%;
}

.posts-info{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.posts-info p {
  color: white;
}
 
.latest-posts {
  margin-top: 20px;
  background-color: #f47521;
  padding: 10px; 
  overflow: hidden;
}

.latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.latest-posts li {
  margin-bottom: 3px; 
}

.latest-posts a {
  color: #fbf9f9;
  text-decoration: none;
  display: block;
  padding: 5px;
  margin-bottom: 5px;
}
.create-post-btn {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20%;
  margin-right: 16%;
}

.latest-posts button.delete-post-btn {
  background-color: #f44336; 
  color: white; 
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.latest-posts button.delete-post-btn:hover {
  background-color: #d32f2f; 
}

@media  only screen and (min-width: 280px) and (max-width: 600px) {
  
  .posts-container-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #060202;
    width: 64%;
  }
  .posts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060202;
    padding: 2%;
  }

  .posts{
    display: flex;
    flex-direction: column;
  }
  .posts img{
    width: 100%;
  }
}
@media  only screen and (min-width: 600px) and (max-width: 12000px) {
  
  .posts-container-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #060202;
    width: 64%;
  }
  .posts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060202;
    padding: 2%;
  }
}
