.latest-posts {
  margin-top: 20px;
  background-color: #f1e8e8;
  padding: 10px; 
  border: 1px solid #060202;
  border-radius: 5px;
  overflow: hidden;
}

.latest-posts h2 {
  font-size: 18px; 
  margin-bottom: 5px;
  text-align: center;
}

.latest-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.latest-posts li {
  margin-bottom: 3px; 
}

.latest-posts a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px;
  margin-bottom: 5px; 
  border: 1px solid #ccc;
  border-radius: 5px;
}
.create-post-btn {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #f90f26;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-post-btn:hover {
  background-color: #45a049;
}
